<div id="particles-js"></div>
<img src="/assets/logo.png" alt="Starlight Logo" width="50px" height="50px" />
<h1>Starlight.</h1>
<p>Ending internet censorship.</p>
<form id="uv-form">
  <input type="text" id="w-search" placeholder="Starlight" />
</form>
<input
  id="uv-search-engine"
  value="https://www.google.com/search?q=%s"
  type="hidden"
/>
