<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starlight</title>

    <link
      rel="icon"
      type="image/x-icon"
      id="favicon"
      href="/./assets/logo.png"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
    />
    <link rel="stylesheet" href="/./css/main.css" />
    <script src="/./stars/uv.bundle.js" defer></script>
    <script src="/./stars/uv.config.js" defer></script>
    <script src="/./js/particles.js" defer></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/./stars/register-sw.js" defer></script>
    <script src="/./stars/search.js" defer></script>
    <script src="/./stars/index.js" defer></script>
    <script src="/./stars/uv.sw.js" defer></script>
    <script src="/./js/main.js" defer></script>
  </head>
  <body>
    <div class="nav">
      <a href="/"><i class="fa-solid fa-house">&nbsp;</i>Home</a>
      <a href="/math"><i class="fa-solid fa-gamepad">&nbsp;</i>Games</a>
      <a href="/stars"><i class="fa-solid fa-grid-2">&nbsp;</i>Apps</a>
      <a href="/settings"><i class="fa-solid fa-gear">&nbsp;</i>Settings</a>
    </div>
    <div id="particles-js"></div>
    <main><%- body %></main>
    <script>
      function setTheme(theme) {
        document.body.setAttribute("theme", theme);
        // Save theme preference to localStorage
        localStorage.setItem("theme", theme);
      }

      window.onload = function () {
        let savedTheme = localStorage.getItem("theme");
        if (!savedTheme) {
          savedTheme = "default"; // Set default theme if no theme is saved
          localStorage.setItem("theme", savedTheme); // Store default theme
          console.log(savedTheme);
        }
        // Apply saved or default theme
        setTheme(savedTheme);
        console.log(
          "%c[ %cStarlight%c ] %cTheme loaded",
          "font-weight: bold; color: white; font-size: 20px;",
          "font-weight: bold; color: black; font-size: 20px;",
          "font-weight: normal; font-size: 20px;",
          "font-weight: normal; font-size: 20px;"
        );

        loadSavedPreset();
      };

      function applyPreset() {
        var dropdown = document.getElementById("presetDropdown");
        if (window.location.href.includes("settings")) {
          var selectedPreset = dropdown.value;
        }
        var title = "image.png";
        var faviconUrl = "/assets/logo.png";

        var presets = {
          default: { title: "Starlight", favicon: "/assets/logo.png" },
          preset1: {
            title: "Google Drive",
            favicon: "/assets/cloaks/GoogleDrive.ico",
          },
          preset2: { title: "Gmail", favicon: "/assets/cloaks/Gmail.ico" },
          preset3: {
            title: "Google Search",
            favicon: "/assets/cloaks/Google Search.ico",
          },
          preset4: { title: "Zoom", favicon: "/assets/cloaks/Zoom.ico" },
          preset5: { title: "Meet", favicon: "/assets/cloaks/Meet.ico" },
        };

        if (presets[selectedPreset]) {
          title = presets[selectedPreset].title;
          faviconUrl = presets[selectedPreset].favicon;
        }

        document.title = title;

        var favicon = document.querySelector('link[rel="icon"]');
        if (!favicon) {
          favicon = document.createElement("link");
          favicon.setAttribute("rel", "icon");
          document.head.appendChild(favicon);
        }
        favicon.href = faviconUrl;

        localStorage.setItem("selectedPreset", selectedPreset);
      }

      function loadSavedPreset() {
        var selectedPreset = localStorage.getItem("selectedPreset");
        if (selectedPreset) {
          var dropdown = document.getElementById("presetDropdown");
          if (window.location.href.includes("settings")) {
            dropdown.value = selectedPreset;
          }
          applyPreset();
        }
      }
    </script>
  </body>
</html>
