@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css");
@import url("themes.css");
:root {
  --background: black;
  --color: white;
  --alt: grey;
  --coilui-primary: #007bff;
}
* {
  font-family: "Inter", sans-serif;
  color: var(--textcolor);
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  margin: 0;
}

::selection {
  background-color: var(--color);
  color: var(--background);
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-filter);
  justify-content: center;
  gap: 10px;
  padding: 15px;
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  color: var(--color);
  border-bottom: 1px solid var(--alt);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
p {
  margin-top: 0;
}
.nav a {
  text-decoration: none;
  color: var(--color);
  font-weight: 600;
  transition: 0.5s;
  padding: 5px;
  border-radius: 10px;
}
.nav a:hover {
  transform: scale(0.9);
}
.active {
  background-color: var(--alt);
}
main,
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  color: var(--color);
}
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: var(--background-filter);
  backdrop-filter: var(--background-filter);
  outline: solid 0.3px var(--button);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  gap: 5px;
  border-radius: 10px;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}
input {
  padding: 15px;
  color: var(--color);
  background-color: var(--background-filter);
  backdrop-filter: blur(3px);
  border: 1px solid var(--alt);
  border-radius: 5px;
  font-size: 20px;

  font-weight: 600;
  width: 500px;
  transition: 0.5s;
}
.devs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.input {
  padding: 4px;
  background: transparent;
  transition: 0.5s;
  outline: none;
  border: none;
  color: var(--color);
  width: 140px;
  font-family: var(--font);
}
.input::placeholder {
  transition: 0.5s;
}
.input:focus {
  width: 210px;
}
.input:focus::placeholder {
  color: var(--color);
}
.search {
  padding: 12px;
  background: transparent;
  border: 1px solid var(--alt);
  border-radius: 10px;
  font-size: 24px;
  align-items: center;
  display: flex;
  width: fit-content;
}
#particles-js {
  height: 100vh;
  width: 100vw;
  display: flex;
  top: 0;
  overflow: hidden;
  z-index: -1;
  position: fixed;
}
input:focus {
  border-radius: 15px;
}
/* from lunaar */
select {
  padding: 20px;
  border-radius: 5px;
  background: var(--background);
  color: var(--textcolor);
  font-size: 20px;
  border: 0px;
  outline: none;
  border: 1px solid var(--button);
  font-family: var(--font);
  font-weight: 900;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIwIiBoZWlnaHQ9IjUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyNCBGb250aWNvbnMsIEluYy4tLT4KCiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBhdGggZmlsbD0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIwIiBpZD0ic3ZnXzEiIGQ9Im0xMzcuNCwzNzQuNmMxMi41LDEyLjUgMzIuOCwxMi41IDQ1LjMsMGwxMjgsLTEyOGM5LjIsLTkuMiAxMS45LC0yMi45IDYuOSwtMzQuOXMtMTYuNiwtMTkuOCAtMjkuNiwtMTkuOGwtMjU2LDAuMWMtMTIuOSwwIC0yNC42LDcuOCAtMjkuNiwxOS44cy0yLjIsMjUuNyA2LjksMzQuOWwxMjgsMTI4bDAuMSwtMC4xeiIvPgogIDxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzAwMCIgb3BhY2l0eT0iTmFOIiBkPSJtNzEzLjk0NTAzLDk1LjgzNDkxIiBpZD0ic3ZnXzIiLz4KIDwvZz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 19px;
  background-size: 10px;
}
.button {
  border: 1px solid var(--button);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background);
  color: var(--color);
  cursor: pointer;
  transition: all 0.1s ease;
}
.button:active {
  transform: scale(0.95);
}
#lp {
  width: 100%;
  height: 100%;
  border: none;
}
a {
  text-decoration: none;
  color: var(--color);
  font-weight: 600;
}
.lpdiv {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.footer {
  margin: 10px auto;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.footer a {
  text-decoration: none;
}
.link {
  color: var(--coilui-primary);
}
.lpbutton {
  outline: none;
  background-color: var(--background);
  backdrop-filter: blur(5px);
  border: 1px solid var(--alt);
  border-radius: 50px;
  padding: 10px;
  color: var(--textcolor);
  cursor: pointer;
}
.lpbuttons {
  margin: 5px;
}
.lptop {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.loadingtxt {
  text-align: center;
}
.fa-solid,
.fa-regular {
  color: var(--color) !important;
}
.game,
.app {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 0px solid var(--alt);
  transition: 0.35s ease;
  z-index: 10;
  border-radius: 15px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}
.game:hover,
.app:hover {
  transform: scale(1.05);
  background-color: var(--background-filter);
  backdrop-filter: var(--background-filter);
}
.game img,
.app img {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}
#games-container,
#apps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--alt);
  border-radius: 10px;
  width: 10px;
}
button[type="submit"] {
  background: none;
  border: none;
  color: var(--color);
  font-size: 24px;
}
.settingscontiner {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}
.devpfp {
  border-radius: 10px;
  margin-bottom: 5px;
}
.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.github {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 30px;
  padding: 10px;
}
.homepage {
  overflow: hidden;
}
#current-time {
  display: flex;
  position: fixed;
  right: 0;
  margin-right: 20px;
  font-weight: 600;
}
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@media only screen and (max-width: 642px) {
  #current-time {
    display: none;
  }
  .nav a {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.lpright {
  position: fixed;
  right: 0;
}
