:root {
  --background-filter: blur(3px) brightness(80%);
}
/* Default theme */
body[theme="default"] {
  --background-filter: blur(3px) brightness(50%);
  --background: #111111;
  --alt: rgba(255, 255, 255, 0.322);
  --button: #777777;
  --textcolor: #eeeeee;
}

/* Dark theme */
body[theme="oled"] {
  --background-filter: blur(3px) brightness(50%);
  --background: #000000;
  --alt: rgb(22, 22, 22);
  --button: #777777;
  --textcolor: #eeeeee;
}

/* Light theme */
body[theme="red"] {
  --background-filter: blur(3px) brightness(100%);
  --background: #880000;
  --alt: rgb(49, 0, 0);
  --button: #cccccc;
  --textcolor: #eeeeee;
  --color: #ffffff;
  --border: var(--button);
}
body[theme="blue"] {
  /* transition: all 0.6s; */
  --background-filter: blur(3px) brightness(80%);
  --background: #001f54;
  --color: #fefcfb;
  --button: #034078;
  --textcolor: #eeeeee;
  --alt: rgb(0, 72, 180);
  --border: var(--button);
}
