---
import '@/css/main.css';
const title = Astro.props;
import PC from './PC.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	<script src="/./uv/uv.bundle.js" defer></script>
    <script src="/./uv/uv.config.js" defer></script>
    <script src="/./uv/register-sw.js" defer></script>
    <script src="/./uv/search.js" defer></script>
    <script src="/./uv/index.js" defer></script>
    <script src="/uv/uv.sw.js" defer></script>
	</head>
	<body>
		<main>
		<PC/>
         <slot/>
        </main>
		<script src="/src/js/main.js"></script>
	</body>
</html>
