		<form id="uv-form">
			<input id="w-search"  type="text" placeholder="Surf the web freely" />
			<p id="uv-error"></p>
			     <input
        id="uv-search-engine"
        value="https://www.google.com/search?q=%s"
        type="hidden"
      />
      <pre id="uv-error-code"></pre>
      <button id="uv-register-sw" class="btn btn-primary" value="Register service worker">
        Register ServiceWorker
      </button>
		</form>