@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("themes.css");
* {
  font-family: Inter;
}

:root {
  --background: hsla(0, 0%, 0%, 1);
  --color: #fff;
  --button: grey;
  --border: rgb(59, 59, 59);
}
html {
  height: 100%;
}
body {
  font-family: Inter;
  background-color: var(--background);
  color: var(--color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 76%,
    hsla(268, 94%, 25%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 76%,
    hsla(268, 94%, 25%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(0, 0%, 0%, 1) 76%,
    hsla(268, 94%, 25%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#3b047a", GradientType=1 );
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}
input {
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--color);
  font-size: 1rem;
  border-radius: 15px;

  border: 1px solid var(--border);
}
input::placeholder {
  color: var(--color);
}
#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.game {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 0px solid var(--alt);
  transition: 0.35s ease;
  z-index: 10;
  border-radius: 15px;
}
.game img {
  min-width: 200px;
  min-height: 200px;
  border-radius: 40px;
}

.game:hover {
  transform: scale(1.1);
  cursor: pointer;
}
